<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h2>계획 입력</h2>
<form name="frm" method="post">
<table border="1">
    <tr><td>plan: </td><td><input type="text" name="plan"></td></tr>
    <tr><td>due_date: </td><td><input type="text" name="due_date"></td></tr>
    <tr><td>완성 <input type="radio" name="iscompleted" checked></td></tr>
     <tr><td>미완성 <input type="radio" name="iscompleted" checked></td></tr>
     <input type="submit" value="저장">
     </td>
    </tr>
</table>
</form>
</body>
</html>